<ng-container>
  <button type="button" (click)="summarizationSurat()"
    class="text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 
    flex text-center gap-2 focus:ring-4 focus:outline-none focus:ring-gray-100 font-medium rounded-lg text-sm px-5 py-4 h-57 items-center dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700 me-2 mb-2">
    Chat with bot
    <span class="material-icons-round text-yellow-700">chat_bubble</span>
  </button>
  <ng-container *ngIf="!chatbot">
    <div class="fixed z-50 bottom-0 xl:w-1/3 sm:w-2/3 right-1 border-slate-300 border-1 rounded-t-lg bg-white dark:bg-black">
      <chatbot-header-chat (expand)="expandAction($event)"></chatbot-header-chat>
      <ng-container *ngIf="expandStatus">
        <chatbot-history-chat (resendEvent)="resendSummarizationSurat($event)"></chatbot-history-chat>
        <chatbot-input-chat></chatbot-input-chat>
      </ng-container>
    </div>
  </ng-container>
</ng-container>