<button type="button" (click)="modalAction()" class="text-gray-900 bg-white hover:text-yellow-600 flex text-center gap-2 
  font-medium rounded-lg text-sm px-5 py-4 h-57 items-center me-2 mb-2">
  Bantuan membuat ringkasan
  <span class="material-icons-round text-yellow-700">question_mark</span>
</button>

<!-- Main modal -->
<div [ngClass]="openModal ? 'flex': 'hidden'" class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0
  z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-lg max-h-full">
    <!-- Modal content -->
    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
          Membuat Ringkasan
        </h3>
        <button type="button" (click)="modalAction()"
          class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-hide="authentication-modal">
          <span class="material-icons-round text-yellow-700">close</span>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <div class="flex flex-row gap-2 items-center px-4 py-2">
        <div>
          <label for="file-upload" type="button"
            class="inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer hover:text-gray-900 hover:bg-gray-100 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600">
            <span>Upload Berkas</span>
            <span class="sr-only">Upload Berkas</span>
          </label>
          <input id="file-upload" type="file" (change)="onFileSelected($event)" style="display: none;">
        </div>
        <span class="text-xs text-red-500 font-medium">Pdf</span>
        <span class="text-xs text-blue-500 font-medium">Doc</span>
      </div>
      <div class="px-4 py-4">
        <div class="flex flex-col p-2 border border-inherit rounded-lg h-52 overflow-y-auto">
          <ng-container *ngIf="resultSummarization !== null">
            {{resultSummarization}}
          </ng-container>
         
          <ng-container *ngIf="proceesSummarization">
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
              <div
                class="px-3 py-1 text-xs font-medium leading-none text-center text-blue-800 bg-blue-200 rounded-full animate-pulse dark:bg-blue-900 dark:text-blue-200">
                Mohon Tunggu, sedang di proses ...</div>
            </div>
          </ng-container>
          
          <ng-container *ngIf="errorSummarization">
            <div class="flex items-center space-x-2 rtl:space-x-reverse">
              <div
                class="px-3 py-1 text-xs font-medium leading-none text-center text-red-800 bg-red-200 rounded-full animate-pulse dark:bg-red-900 dark:text-red-200">
                Terjadi Gangguan, <span class="underline underline-offset-1 cursor-pointer" (click)="reloadOnFileSelected()">ulangi kembali</span> ...</div>
            </div>
          </ng-container>
        </div>

      </div>

      <div class="flex flex-row justify-end items-center p-2 md:p-2 bg-gray-50 rounded-lg h-14">
        <ng-container *ngIf="copySummarization">
          <div class="flex items-center space-x-2 rtl:space-x-reverse">
            <div
              class="px-3 py-1 text-xs font-medium leading-none text-center text-blue-800 bg-blue-200 rounded-full animate-pulse dark:bg-blue-900 dark:text-blue-200">
              Data berhasil disalin ...</div>
          </div>
        </ng-container>
        <!-- <ng-container *ngIf="!copySummarization">
          <div class="flex items-center space-x-2 rtl:space-x-reverse">
            <div
              class="px-3 py-1 text-xs font-medium leading-none text-center text-blue-800 bg-blue-200 rounded-full animate-pulse dark:bg-blue-900 dark:text-blue-200">
              Data kosong ...</div>
          </div>
        </ng-container> -->
        <button class="focus:bg-gray-100 px-5 py-2 text-sm font-medium rounded-lg" (click)="writeTextInClipboard()">
          Ambil Hasil Ringkasan
        </button>
      </div>
    </div>
  </div>
</div>